server:
  port: 8082
#eureka:
  #client:
    #service-url:
      #defaultZone: http://localhost:8761/eureka
#resilience4j:
  #ratelimiter:
    #instances:
      #default:
        #limit-for-period: 20
        #limit-refresh-period: 10S
  #retry:
    #instances:
      #default:
        #max-attempts: 3
spring:
  application:
    name: debito
  datasource:
    url: jdbc:h2:mem:debitodb;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
#springdoc:
  #show-actuator: true
  #api-docs:
    #path: debito/v1/api-docs

